.App {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}
#root {
  background-color: #d8d4c7;
}


.card {
  width: 125px;
  height: 175px;
  margin: 10px;
  color: grey;
}

.todayCard {
  width: 125px;
  height: 175px;
  margin: 10px;
  color: grey;
  background-color: lightcyan;
  border-radius: 15px;
}


.card:hover {
  opacity: 0.4;
  cursor: pointer;
}

.todayCard:hover {
  opacity: 0.4;
  cursor: pointer;
}
